.convertor {
  width: 400px;
  padding: 20px;

  &__conteiner {
    display: flex;
    flex-direction: column;
  }

  &__input {
    max-width: 100%;
  }

  &__selectors {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__invert {
    margin-bottom: 20px;
    margin-left: 240px;
    height: 33px;
    position: absolute;
    top: 70px;
    right: 0;
  }
}
